<!--include:header.html-->
<div>
<!--if:$news[pre_id]!=''-->
<a href="$articles_links$news[pre_id]" title="$news[pre_title]">&lt;&lt;</a>
<!--/if-->
$news[news_title]
<!--if:$news[back_id]!=''-->
<a href="$articles_links$news[back_id]" title="$news[back_title]">&gt;&gt;</a>
<!--/if-->
</h3>
<p id="news_author"><span><a href="$site_links$news[site_id]">$news[site_name]</a> 发布于$news[ctime] | $news[news_hits]次阅读 | 字体:<a href="javascript:fontZoomB();">大</a>  <a href="javascript:fontZoomA();">小</a>  <a href="./print.php?id=$news[id]">打印预览</a></span></p>
<div id="news_content">$news[news_content]</div><br />本文出处 : <a href="$news[news_url]" rel="external" title = "$news[news_title]">$news[news_url]</a> <img src="./images/default/end.gif" alt="end" />
<p>
<script type="text/javascript"><!--
google_ad_client = "pub-0412999412893957";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_ad_type = "text";
google_ad_channel = "";
google_color_border = "FFFFFF";
google_color_bg = "FFFFFF";
google_color_link = "0000FF";
google_color_text = "000000";
google_color_url = "008000";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</p>
</div>
<div id="ContentFoot">
<div class="rDiv">
<div class="cls"></div>
</div>
<div class="cls"></div>
</div>
</div>
<!--include:footer.html-->