<p id="links">
<strong class="caption">Links:</strong>
<!--for:$link $key $link-->
<a href="$link[links]" class="navBlack" rel="external">$link[name]</a>
<!--/for--><a href="wap.php" target="_blank">WAP</a>
<a href="http://www.ixna.net/"><img src="./images/logo.gif" alt="iXNA" border="0" height="15" width="80" /></a></p>
<div id="footer">
<div id="copyright"></div>
<div id="powered"><a href="http://www.ixna.net" target="_blank">Powered by <acronym title="IXNA">IXNA</acronym></a></div>
</div>
</div>
</body>
</html>