<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv=¡±content-language¡± content=¡±zh-CN¡± />
<meta name="author" content="spvrk@spvrk.com" />
<meta name="Copyright" content="www.ixna.net,Attribution-NonCommercial" />
<meta http-equiv="Generator" content="IXNA" />
<meta name="keywords" content="aggregator, Spvrk, xml, news, xhtml, css, web standards, aggregate" />
<meta name="content" content="Spvrk XML News Aggregator. Aggregates Your Ideas." />
<meta name="robots" content="all" />
<base href="$WebPath" />
<title>Spvrk XML News Aggregator</title>
<link href="./images/bxna/bxna.css" rel="stylesheet" type="text/css"/>
<link rel='icon' href='/favicon.ico' type='image/ico' />
<link rel='shortcut icon' href='/favicon.ico' type="image/x-icon" />
<link rel='bookmark icon' href='/favicon.ico' type="image/x-icon" />
<link rel='alternate' type='application/rss+xml' title='RSS 2.0' href='./rss.xml' />
<link rel='alternate' type='application/atom+xml' title='ATOM 1.0' href='./atom.xml' />
<link rel="alternate" type="application/x-opera-widgets" title="Spvrk XML News Aggregator" href="http://widgets.opera.com/widgetize/Feed%20Reader/Advanced/?serve&amp;skin=skin9&amp;widgetname=Spvrk%20XML%20News%20Aggregator&amp;url=http://xna.spvrk.com/rss.xml&amp;rel=msnspaces&amp;ref=" />
<link rel='alternate' type='application/rss+xml' title='RDF 1.0' href='./rdf.xml' />
<script type="text/javascript">
var Inttime=10000;
</script>
<script src="./ajax/autoupdate.js" type="text/javascript"></script>
<script src="./ajax/ajax.js" type="text/javascript"></script>
<script src="./ajax/common.js" type="text/javascript" ></script>
<script src="./ajax/menu.js" type="text/javascript"></script>
</head>
<body>
<div id="bxna">
<div id="header">
<h1 id="title">Spvrk XML News Aggregator</h1>
<sup id="subtitle"></sup>
</div>
<p id="navigation">
<a href="./" class="navBlack">Home</a> <a href="$days_links" class="navBlack">1Days</a> <a href="./site.php" class="navBlack">Site</a> <a href="./submit.php" class="navBlack">Submit</a> <a href="http://zxsv.com/post/241.html" class="navBlack" rel="external">Down</a>
<p id="category">