<html>
	    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>$news[news_title] - Spvrk XML News Aggregator - 聚合灵感</title>
	    </head>
	    <body bgcolor="#ffffff" text="#000000">
	    <table border="0" align="center"><tr><td>
	
	    <table border="0" width="640" cellpadding="0" cellspacing="1" bgcolor="#000000"><tr><td>
	    <table border="0" width="640" cellpadding="20" cellspacing="1" bgcolor="#ffffff"><tr><td>
	    <center>
	    <img src="images/logo.gif" border="0" alt=""><br><br>
	    <font class="content">

	    <b>$news[news_title]</b></font><br>
	    <font class=tiny><b>新闻发布日期：</b>$news[ctime]<br><b>新闻主题：</b> <br><br>
	    </center>
	    <font class="content">
	    <strong>$news[site_name]发布</strong><br />$news[news_content]<br><br>

	    <br><br>
	    </font>
	    </td></tr></table></td></tr></table>
	    <br><br><center>
	    <font class="content">
	    这篇Feed的网址是：<br>
	   <a href="$news[news_url]">$news[news_url]</a>
	    </font>
	    </td></tr></table>
</body>
</html>