<!--include:header.html-->
<strong>修改密码</strong>
<hr />
<table width="100%" border="0">
<script language="JavaScript" type="text/javascript" src="../ajax/tformvalid.js"></script>
<script language="javascript" type="text/javascript">
window.onload=function() {
    var oValid = new TFormValid("updateadmin");
    oValid.addRule("username", "NotNull", "请输入用户名称");
    oValid.addRule("email", "Email", "非法的EMAIL地址");
    oValid.Listen();
};
</script>
<form id="updateadmin" name="updateadmin" action="" method="post" onsubmit="return false">
<input name="module"  value="xna" type="hidden">
<input name="action"  value="doUpdateUser" type="hidden">
<input name="id" value="$user[uid]" type="hidden">
<tr>
  <td>用户名</td><td><input id="username" name="username" size="50" maxlength="100"  type="text" value="$user[username]"></td></tr>
<tr>
  <td>密码</td><td><input id="password" name="password" type="text" value="" size="50" /></td></tr>
<tr>
  <td>EMAIL</td><td><input id="email" name="email" size="50" maxlength="100"  type="text" value="$user[email]"></td></tr>
<tr><td></td><td>
<input name="submit" type="submit" value=" 提交 " >&nbsp;&nbsp;
<input name="reset" type="reset" value=" 重置 " >&nbsp;&nbsp;
</form></table>
<hr  />
<!--include:footer.html-->