<!--include:header.html-->
<strong>编辑Feed新闻</strong>
<hr  />
<table width="100%" border="0">
<script language="JavaScript" type="text/javascript" src="../ajax/tformvalid.js"></script>
<script language="javascript" type="text/javascript">
window.onload=function() {
    var oValid = new TFormValid("editfeed");
    oValid.addRule("title", "NotNull", "请输入文章名称");
    oValid.addRule("site_url", "URL", "非法的站点地址");
    oValid.addRule("site_name", "NotNull", "非法的站点名称");
    oValid.addRule("news_url", "URL", "非法的文章地址");
    oValid.addRule("news_hits", "Number", "非法的点击数");
    oValid.Listen();
};
</script>
<form id="editfeed" name="editfeed" action="" method="post" onsubmit="return false">
<input name="module"  value="xna" type="hidden">
<input name="action"  value="doSaveFeed" type="hidden">
<input name="id" value="$news[id]" type="hidden">
<tr>
  <td>文章名称</td><td><input id="title" name="title" size="50" maxlength="100" type="text" value="$news[news_title]"></td>
</tr>
<tr>
  <td>站点ID</td><td>$news[site_id]</td></tr>
<tr>
<td>站点名称</td>
<td>$news[site_name]</td></tr>
<tr>
  <td>文章地址</td><td><input id="news_url" name=news_url size="50" maxlength="100" type="text" value="$news[news_url]"></td></tr>
<tr>
  <td>文章内容</td><td><textarea id="content" name="content" cols="60" rows="6">$news[news_content]</textarea></td></tr>
<tr>
  <td>发布时间</td><td><input id="ctime" name="ctime" size="50" maxlength="100"  type="text" value="$news[news_ctime]" /></td></tr>
<tr>
  <td>点击</td><td><input id="news_hits" name="news_hits" size="10" maxlength="8"  type="text" value="$news[news_hits]" /></td>
</tr>
<tr><td colspan=2><hr  /></td></tr>
<tr><td></td><td>
<input name="submit" type="submit" value=" 提交 " >&nbsp;&nbsp;
<input name="reset" type="reset" value=" 重置 " >
</form></table>
<hr  />
<!--include:footer.html-->