<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IXNA.net Manage</title>
<link href="../images/admin/admin.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="topmenu">
<ul>
<li><span><a href="../">$lang[_LANG_0409]</a></span></li>
<li><span><a href="?action=doList">$lang[_LANG_0501]</a></span></li>
<li><span><a href="?action=doListTypes">$lang[_LANG_0551]</a></span></li>
<li><span><a href="?action=doListFeed">$lang[_LANG_0601]</a></span></li>
<li><span><a href="?action=doListComm">$lang[_LANG_0651]</a></span></li>
<li><span><a href="?action=doListLinks">$lang[_LANG_0701]</a></span></li>
<li><span><a href="?action=doUser">$lang[_LANG_0751]</a></span></li>
<li><span><a href="?action=doConfig">$lang[_LANG_0801]</a></span></li>
<li><span><a href="?action=logout">$lang[_LANG_0410]</a></span></li>
</ul>
</div>