<!--include:header.html-->
<strong>$lang[_LANG_0501]</strong> | <a href="?action=doListAudit">$lang[_LANG_0502]</a> | <a href="?action=doAdd">$lang[_LANG_0503]</a>
<hr  />
<script language="javascript" type="text/javascript" src="../images/admin/common.js"></script>
<form action="" method="post" name="frmAdd">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td>编号</td>
<td>站点名称</td>
<td>所属分类</td>
<td>站点RSS</td>
<td>Email</td>
<td>更新频率</td>
<td>建立时间</td>
<td>更新时间</td>
<td>操作</td>
</tr>
<tr>
<!--for:$ret $key $site-->
<tr>
<td><input type="checkbox" name="chkLink" value="$site[id]" />$site[sid]</td>
<td><a href="$site[site_url]" target="_blank">$site[site_title]</a></td>
<td>$site[rss_cate]</td>
<td><a href="$site[rss_url]" target="_blank"><img src="../images/admin/feed.png" class="img" alt="RSS地址" /></a></td>
<td>$site[site_email]</td>
<td>$site[rss_feq] 分</td>
<td>$site[site_ctime]</td>
<td>$site[site_utime]</td>
<td><a href="?action=doUpdateAudit&amp;id=$site[sid]"><img src="../images/admin/feed_lock.png" class="img" alt="审核"/></a> <a href="?action=doEdit&amp;id=$site[sid]"><img src="../images/admin/feed_add.png" class="img" alt="编辑"/></a>  <a href="?action=doDelete&amp;id=$site[sid]" onclick="return confirm('确认删除此站点和所属的内容?');"><img src="../images/admin/feed_delete.png" class="img" alt="删除" /></a> <a href="?action=doClear&amp;id=$site[sid]" onclick="return confirm('确认清空除此站点所属的内容?');"><img src="../images/admin/feed_error.png" class="img" alt="清空"/></a> <a href=http://feedvalidator.org/check.cgi?url=$site[rss_url]><img src="../images/admin/feed_link.png" class="img" alt="检测"/></a>&nbsp;[$site[sum]]</td>
</tr>
<!--/for-->
</form>
</table>
      <div class="divFoot">
           <input type="checkbox" name="chkUnSelect" onClick="javascript:selectAll('frmAdd');" id="chkSelectAll"><label for="chkSelectAll">全选</label>
		   <input type="submit" name="btnAction" value=" 添加 " />
           <input type="submit" name="btnAction" value=" 删除 " />
       </div>
$total $pagenav
<hr />
<!--include:footer.html-->