<!--include:header.html-->
<table width="90%" border="0" cellpadding="0" cellspacing="0" class="guide"><tr><td><a href="#">系统设置首页</a>&nbsp;&raquo;&nbsp;$lang[_LANG_0501] <a href="?action=doListAudit">$lang[_LANG_0502]</a> | <a href="?action=doAdd">$lang[_LANG_0503]</a></td></tr></table>
<script language="javascript" type="text/javascript" src="../images/admin/common.js"></script>
<form action="" method="post" name="frmAdd">
<table width="90%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td>编号</td>
<td>站点名称</td>
<td>所属分类</td>
<td>站点RSS</td>
<td>Email</td>
<td>更新频率</td>
<td>建立时间</td>
<td>更新时间</td>
<td>操作</td>
</tr>
<!--for:$ret $key $site-->
<tr>
<td><input type="checkbox" name="chkLink" value="$site[sid]" />$site[sid]</td>
<td><a href="$site[site_url]" target="_blank">$site[site_title]</a></td>
<td>$site[site_types]</td>
<td><a href="$site[rss_url]" target="_blank"><img src="../images/admin/feed.png" class="img" alt="RSS地址" /></a></td>
<td>$site[site_email]</td>
<td>$site[rss_feq] 分</td>
<td>$site[site_ctime]</td>
<td>$site[site_utime]</td>
<td><a href="?action=doUpdateAudit&amp;id=$site[sid]"><img src="../images/admin/feed_lock.png" class="img" alt="$lang[_LANG_0404]"/></a> <a href="?action=doEdit&amp;id=$site[sid]"><img src="../images/admin/feed_add.png" class="img" alt="$lang[_LANG_0407]"/></a>  <a href="?action=doDelete&amp;id=$site[sid]" onclick="return confirm('确认删除此站点和所属的内容?');"><img src="../images/admin/feed_delete.png" class="img" alt="$lang[_LANG_0401]" /></a> <a href="?action=doFetch&amp;id=$site[sid]"><img src="../images/admin/feed_go.png" class="img" alt="$lang[_LANG_0405]"/></a>  <a href="?action=doClear&amp;id=$site[sid]" onclick="return confirm('确认清空除此站点所属的内容?');"><img src="../images/admin/feed_error.png" class="img" alt="$lang[_LANG_0408]"/></a> <a href="http://feedvalidator.org/check.cgi?url=$site[rss_url]"><img src="../images/admin/feed_link.png" class="img" alt="$lang[_LANG_0406]"/></a>&nbsp;&nbsp;[$site[sum]]</td>
</tr>
<!--/for-->
</table>

      <div class="divFoot">
           <input type="checkbox" name="chkUnSelect" onClick="javascript:selectAll('frmAdd');" id="chkSelectAll"><label for="chkSelectAll">全选</label>
       </div>
</form>
$total $pagenav
<hr />
<!--include:footer.html-->